{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="about">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                about us
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-desc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="caption">
                                Sprint adalah penyedia jasa infrastruktur digital dan teknologi 
                                yang memberikan inovasi kepada bisnis anda dengan layanan seperti 
                                transaksi mobile, advertising digital dan juga membantu integrasi 
                                pembayaran online kepada lebih dari 350 merchants yang bekerjasama 
                                dengan bank - bank besar seperti BCA, BRI, Bank Permata, BNI, MayBank dan lainnya.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="" src="{% static 'image/logo/sandeza-removebg.png' %}" style="width: 330px; margin-top: 110px;" class="responsive-img">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="" src="{% static 'image/logo/sprint-blue.png' %}" style="width: 257px; margin-top: 93px;" class="responsive-img">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="" src="{% static 'image/logo/bayarind.png' %}" style="width: 291px; margin-top: 118px;" class="responsive-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="visi-misi">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="caption">
                                visi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Menjadi yang terdepan pada sektor digital ekonomi 
                                Indonesia dengan memberikan pelayanan dan solusi teknologi ter-update.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="caption">
                                misi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Berintegritas tinggi dan berkomitmen penuh kepada klien dan mitra dengan 
                                berorientasi pada hasil bisnis dengan kualitas terbaik dan inovatif.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                meet our team
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:250px; height:6px; margin-bottom: 80px;" class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        name
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        jabatan
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        name
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        jabatan
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="template-image" src="{% static 'image/temp/gray-square.png' %}" class="image-template">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        name
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        jabatan
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}