<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Palanquin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

        <title>Sprint Asia</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container">
				<a class="navbar-brand" href="/">
                    <img alt="navbar-logo" src="{% static 'image/logo/sprint.png' %}" style="width: 118px;">
                </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
                            <div class="nav-font">
                                <a class="nav-link" href="/">home</a>
                            </div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://bayarind.id/">bayarind</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              digital360
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/sandeza">sandeza</a>
                              <a class="dropdown-item" href="/messaging">messaging</a>
                              <a class="dropdown-item" href="/mobile-ads">mobile digital ads</a>
                              <a class="dropdown-item" href="/social-messaging">social messaging</a>
                              <a class="dropdown-item" href="/ussd-push">ussd push</a>
                              <a class="dropdown-item" href="/email-marketing">email marketing</a>
                              <a class="dropdown-item" href="/electronic-voucher">electronic voucher</a>
                            </div>
                        </li>
                        <li class="nav-item">
							<a class="nav-link" href="/mobile-payment">mobile payment</a>
                        </li>
                        <li class="nav-item">
							<a class="nav-link" href="/about">about</a>
                        </li>
                        <li class="nav-item">
							<a class="nav-link" href="/contact">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        {% block content %}
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
    <footer>
        <div class="footer-template">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="first-content">
                            powered by
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <img alt="company-logo" src="{% static 'image/logo/sprint.png' %}" style="width: 153px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="second-content">
                            Contact Us
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <div class="third-content">
                            our social media
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p style="font-family: Palanquin; font-size: 18px; color: white;">
                            PT Sprint Asia Technology
                        </p>
                        <p style="font-family: Roboto; font-size: 18px; color: white;">
                            Jl. Raya RS Fatmawati No.7 Gandaria Utara,
                            Kebayoran Baru, Jakarta Selatan,
                            12140, Indonesia
                        </p>
                        <p style="font-family: Roboto; font-size: 18px; color:white;">
                            +62 21 2700 678
                        </p>
                        <p style="font-family: Roboto; font-size: 18px; color:white; margin-top: -15px;">
                            +62 21 2700 679
                        </p>
                        <p style="font-family: Roboto; font-size: 18px; color:white; margin-top: -15px;">
                            info@sprintasia.co.id
                        </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="social-media">
                                    twitter
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="social-media">
                                    instagram
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="social-media">
                                    facebook
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{% static 'image/sertifikat/ISO_27001.jpg' %}" alt="sertif-1" style="width: 130px;">
                            </div>
                            <div class="col-lg-3">
                                <img src="{% static 'image/sertifikat/kanan-1.png' %}" alt="sertif-1" style="width: 130px;">
                            </div>
                            <div class="col-lg-3">
                                <img src="{% static 'image/sertifikat/kanan-2.jpg' %}" alt="sertif-1" style="width: 121px;">
                            </div>
                            <div class="col-lg-3">
                                <img src="{% static 'image/sertifikat/kanan-4.jpg' %}" alt="sertif-1" style="width: 130px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </footer>
</html>