{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="contact">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                contact us
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-caption">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            PT Sprint Asia Technology
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="desc">
                            <div class="row">
                                <div class="col-lg-12">
                                    Jl. Raya RS Fatmawati No.7 Gandaria Utara,
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    Kebayoran Baru, Jakarta Selatan,
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    12140, Indonesia
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="desc">
                            <div class="row">
                                <div class="col-lg-12">
                                    +62 21 2700 678
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    +62 21 2700 679
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    info@sprintasia.co.id
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-map-template">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0274097050315!2d106.79421911447588!3d-6.2601197954688175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f19fbac56e57%3A0xaf861d8dfc66e90c!2sPT.Sprint+Asia+Technology!5e0!3m2!1sid!2sid!4v1486614868628" width="1440px" height="450" frameborder="2" style="border:0" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>

{% endblock %}