{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="electronic-voucher">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                electronic voucher
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-desc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="text-center">
                            <div class="desc">
                                Kasih - Kasih electronic voucher adalah voucher elektronik yang 
                                memberikan promosi khusus sebagai reward customer melalui mobile phone.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advantages">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                our advantages
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="items">
                                <p>• Metode pengiriman yang fleksibel •</p>
                                <p style="margin-top: -20px;">• Desain voucher menarik •</p>
                                <p style="margin-top: -20px;">• Fitur manajemen yang lengkap •</p>
                                <p style="margin-top: -20px;">• Sistem redeem & reporting yang mudah •</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="usage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                the usage of our electronic voucher
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:500px; height:6px; margin-bottom: 50px;" class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="caption">
                                Marketing
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="caption">
                                Rewards
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="caption">
                                Employee Bonus
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="caption">
                                Patner Bonus
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="desc">
                                Promo diskon, dan bonus khusus untuk 
                                pemegang voucer atau kode promosi 
                                yang tepat
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="desc">
                                Buat konsumen merasa istimewa dengan 
                                hadiah tambahan untuk transaksi dan 
                                kesetiaan mereka
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="desc">
                                Voucer elektronik yang didistribusikan 
                                secara internal dengan diskon lebih besar 
                                untuk asset terbaik bisnis anda
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <div class="desc">
                                Anda juga dapat memberikan 
                                penghargaan untuk patner bisnis yang 
                                telah setia mendukung anda
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}