{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="email-marketing">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                email marketing
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-desc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Email marketing yang dapat mendukung pengiriman 
                                informasi dan promosi yang lebih visual.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="campaign">
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="title">
                                    campaign type
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:260px; height:6px; margin-bottom: 30px;" class="responsive-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="" src="{% static 'image/illustration/email-marketing/sms.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        Reguler
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Kelola pengiriman email berkala untuk ribuan 
                                        penerima dengan mudah dari satu panel kontrol 
                                        integrasi
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="" src="{% static 'image/illustration/email-marketing/sprintab.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        Sprint A-B
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Optimalisasi email dengan format, desain, dan 
                                        pesan berbeda untuk group penerima berbeda 
                                        untuk meningkatkan konversi
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="" src="{% static 'image/illustration/email-marketing/dynamic.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        Dynamic Campaign
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Komunikasi lewat email yang terpersonalisasi 
                                        berdasarkan selera, demografi, dan informasi lain 
                                        tentang penerimanya
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="" src="{% static 'image/illustration/email-marketing/burthday.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        Birthday Alert
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Ucapan sederhana yang dikirimkan pada hari 
                                        istimewa untuk para konsumen, rekan, dan vendor 
                                        yang istimewa pula.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="" src="{% static 'image/illustration/email-marketing/followup.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        Follow Up Emails
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        pesan pengingat untuk berbagai kebutuhan, 
                                        termasuk untuk mengingatkan konsumen agar 
                                        menyelesaikan pembelian secara otomatis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
        <div class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                features
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:189px; height:6px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="sandeza" src="{% static 'image/illustration/email-marketing/personalisasi.png' %}" width="113px" style="margin-top: 140px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            Personalisasi Email
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Sistem pengiriman Email Marketing mendukung 
                                            personalisasi hingga detail terkecil berkat 
                                            kehadiran variabel dan elemen pesan yang 
                                            dinamis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="content-1-image" src="{% static 'image/illustration/email-marketing/detail.png' %}" width="113px" style="margin-top: 110px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            Detail Reporting
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Tepat dan akurat. Efektivitas daftar penerima email, 
                                            kampanye komunikasi yang sedang berjalan, 
                                            respons penerima hingga metrik lain dapat 
                                            dipantau secara langsung.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="content-1-image" src="{% static 'image/illustration/email-marketing/variatif.png' %}" width="113px" style="margin-top: 140px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            Pengiriman yang Bervariatif
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Beragam opsi untuk memaksimalkan setiap email 
                                            yang dikirim, termasuk opsi desain email, 
                                            call-to-action, serta optimalisasi setiap pengiriman 
                                            untuk tujuan dan target spesifik.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="content-1-image" src="{% static 'image/illustration/email-marketing/desain.png' %}" width="113px" style="margin-top: 110px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            Desain Sesuai Kebutuhan
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Manajemen template yang memberikan kebebasan 
                                            kepada pengguna untuk membuat desain email 
                                            yang lebih menarik.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>

{% endblock %}