{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="homepage">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'image/background/background.png' %}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="title">Sprint Asia</h1>
                        <p class="caption">Solusi teknologi untuk pelayanan dan keamanan bisnis anda</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                our products
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:289px; height:6px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="sandeza" src="{% static 'image/illustration/sandeza.png' %}" width="241px" style="margin-top: 110px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            sandeza
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Sandeza menggabungkan beberapa saluran komunikasi 
                                            digital ke satu platform terintegrasi yang 
                                            sangat mudah dalam menyampaikan setiap informasi 
                                            Anda ke dalam hati dan pikiran pelanggan Anda
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-dark">selengkapnya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="content-1-image" src="{% static 'image/illustration/bayarind.png' %}" width="241px" style="margin-top: 110px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            bayarind
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            BayarInd adalah payment gateway dari Sprint Asia 
                                            yang menyuguhkan pengalaman pengguna terbaik, jaringan 
                                            pembayaran yang luas, serta fasilitas merchant support terintegrasi.
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-dark">selengkapnya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="content-1-image" src="{% static 'image/illustration/sprint360.png' %}" width="223px" style="margin-top: 110px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            sprint digital 360
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Solusi komunikasi digital terintegrasi untuk 
                                            menemukan dan mengembangkan keunggulan kompetitif 
                                            lewat berbagai media promosi dan sarana untuk menjangkau 
                                            target audiens yang tepat bagi bisnis dan brand Anda.
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-dark">selengkapnya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img alt="content-1-image" src="{% static 'image/illustration/mobilepay.png' %}" width="155px" style="margin-top: 110px;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-caption">
                                            mobile payment
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="item-desc">
                                            Transaksi finansial dan non-finansial interaktif 
                                            melalui pesan singkat dan aplikasi, dengan dukungan 
                                            infrastruktur terbaik dan pengalaman Sprint Asia Technology 
                                            dalam menyajikan kenyamanan bertransaksi yang optimal.
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-dark">selengkapnya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:172px; height:6px; margin-top: 83px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="more-items">
                                more porducts
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="merchants">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <div class="title">
                            trusted by merchants and banks in Indonesia
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:984px; height:6px;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <img alt="" src="{% static 'image/merchants/logoKlien.png' %}" width="879px" height="107px" margin-top="46px" class="responsive-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <img alt="" src="{% static 'image/merchants/logoKlien2.png' %}" width="832px" height = "103px" class="responsive-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <div class="text-center">
                            <div class="caption">
                                and many more
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}