{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="messaging">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                messaging
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Layanan SMS, MMS, VMS & IVR yang memberikan solusi notifikasi
                                sampai dengan campaign advertising.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="caption">
                                key features
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:199px; height:6px; margin-bottom: 30px;" class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="self-service" src="{% static 'image/illustration/messaging/self-service.png' %}" style="width: 80px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        self service
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="host-to-host" src="{% static 'image/illustration/messaging/host-to-host.png' %}" style="width: 80px; margin-top: 34px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        host to host
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="web-based" src="{% static 'image/illustration/messaging/web-based.png' %}" style="width: 80px; margin-top: 20px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        web-based interface
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="24-hour" src="{% static 'image/illustration/messaging/24-hours.png' %}" style="width: 80px; margin-top: 7px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        24-hour availability
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="masking" src="{% static 'image/illustration/messaging/masking.png' %}" style="width: 80px; margin-top: 15px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        masking sender id
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="scheduling" src="{% static 'image/illustration/messaging/scheduling.png' %}" style="width: 80px; margin-top: 15px; margin-bottom: 20px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        schdeuling
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="reporting" src="{% static 'image/illustration/messaging/reporting.png' %}" style="width: 80px; margin-top: 15px; margin-bottom: 20px;" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="feature-desc">
                                        reporting
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>
        <div class="services">
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="title">
                                    types of services
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:260px; height:6px; margin-bottom: 30px;" class="responsive-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="sms-bulk" src="{% static 'image/illustration/messaging/sms-bulk.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        sms bulk
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Pengiriman pesan singkat dalam jumlah besar 
                                        kebanyak penerima. Mudah digunakan dan dapat 
                                        menjangkau ribuan target audiens secara cepat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="sms-targeted" src="{% static 'image/illustration/messaging/sms-targeted.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        sms targeted
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Pengiriman pesan singkat dalam jumlah besar 
                                        kebanyak penerima. Mudah digunakan dan dapat 
                                        menjangkau ribuan target audiens secara cepat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="sms-bulk" src="{% static 'image/illustration/messaging/sms-otp.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        sms otp & notification
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Rangkaian pengiriman pesan singkat yang 
                                        mendukung proses autentifikasi transaksi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="sms-lba" src="{% static 'image/illustration/messaging/sms-lba.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        sms lba (location based advertising)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Pengiriman pesan singkat kepada penerima di lokasi 
                                        tertentu secara otomatis. Mudah menjangkau target 
                                        audiens di sekitar lokasi bisnis Anda.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <img alt="interactive-ads" src="{% static 'image/illustration/messaging/interactive-ads.png' %}" style="width: 131px; margin-top: 50px;" class="responsive">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        interactive ads
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Komunikasi dua arah dan interaktif berkat dukungan 
                                        menerima respons dari penerima. Mampu 
                                        menghadirkan user engagement dan efektivitas yang 
                                        lebih tinggi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>
    </div>

{% endblock %}