{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="mobile-ads">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                mobile digital advertising
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-desc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Raih jutaan audiens baru dengan iklan dalam bentuk 
                                multimedia seperti banner & video pada mobile phone. 
                                Didukung oleh digital Ads Platform yang ahli dan 
                                berpengalaman di bidang mobile digital ads untuk efektivitas 
                                promosi yang tinggi dan Return on Investment (ROI) terbaik.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="platform">
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                Platform Mobile Ads Sprint Asia Technology mendukung format iklan terbaik
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    standard banner
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    Menampilkan campaign banner pada smartphone 
                                    secara fleksibel melalui channel yang lebih luas di 
                                    berbagai web browser.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    video message service
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    <br>
                                    Sampaikan pesan yang lebih mendalam lewat iklan 
                                    video yang ringan dan mudah dinikmati pengguna.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    push notification ad
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    Kirimkan iklan langsung ke sasaran dan dapatkan 
                                    respons instan dengan iklan berbentuk notifikasi 
                                    pada ponsel pengguna.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    <br>
                                    icon ads
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    <br>
                                    Jadi bagian pengalaman mobile pengguna 
                                    dengan iklan berbentuk ikon pada ponsel dan 
                                    mobile device lainnya.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    rich media
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    Menampilkan campaign banner secara overlay 
                                    dengan ukuran full pada layar smartphone melalui 
                                    channel yang lebih luas di berbagai web browser.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    html5 ads
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    Pengalaman beriklan berbeda dengan elemen 
                                    interaktif dan kompleksitas tinggi, termasuk game 
                                    yang dapat dimainkan oleh pengguna.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <div class="caption">
                                        <br>
                                        landing page ad
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <div class="desc">
                                        <br>
                                        Ubah pengunjung menjadi konsumen dengan 
                                        iklan pada halaman muka yang dioptimalisasi 
                                        untuk konversi maksimal.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="advantages">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <div class="text-center">
                                advantages
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:199px; height:6px;" class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Platform Mobile Ads Sprint Asia Technology menyederhanakan proses beriklan di media digital 
                                dengan menggabungkan beragam platform dan analisa otomatis yang memudahkan. 
                                Dengan Sprint Asia Technology sebagai partner resmi, layanan kami menghadirkan solusi iklan digital 
                                dengan efektivitas yang tidak tertandingi.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img alt="multiple-channel" src="{% static 'image/illustration/mobile-ads/advantages/multiple-channel.png' %}" style="margin-top: 30px; width: 52px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        Multiple Channels
                                    </div>
                                    <div class="caption-desc">
                                        Akses langsung ke lebih dari 100 media iklan 
                                        digital, mulai dari media sosial hingga jaringan 
                                        publisher terbaik di dunia.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img alt="differemt-ads" src="{% static 'image/illustration/mobile-ads/advantages/different-ads.png' %}" style="margin-top: 30px; width: 60px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        Different Ad Types
                                    </div>
                                    <div class="caption-desc">
                                        Raih perhatian target pengguna yang tepat 
                                        dengan jenis iklan, visual, media, dan pesan yang 
                                        tepat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img alt="comprehensive-tracking" src="{% static 'image/illustration/mobile-ads/advantages/comprehensive-tracking.png' %}" style="margin-top: 30px; width: 60px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        Comprehensive Tracking
                                    </div>
                                    <div class="caption-desc">
                                        Pilihan parameter pengukuran performa iklan yang 
                                        lengkap dan sesuai kebutuhan.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img alt="single-user-interface" src="{% static 'image/illustration/mobile-ads/advantages/single-user-interface.png' %}" style="margin-top: 30px; width: 45px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        Single User Interface
                                    </div>
                                    <div class="caption-desc">
                                        Satu halaman akses untuk seluruh aktivitas 
                                        beriklan Anda. Didukung oleh spesialis yang 
                                        berpengalaman.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img alt="cross-media-report" src="{% static 'image/illustration/mobile-ads/advantages/cross-media-report.png' %}" style="margin-top: 30px; width: 62px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        Cross-Media Report
                                    </div>
                                    <div class="caption-desc">
                                        Laporan yang terintegrasi dari seluruh media iklan 
                                        yang digunakan untuk kemudahan evaluasi dan optimalisasi.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img alt="ios-android" src="{% static 'image/illustration/mobile-ads/advantages/ios-android.png' %}" style="margin-top: 30px; width: 74px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        iOS & Android
                                    </div>
                                    <div class="caption-desc">
                                        Raih pengguna dua platform mobile terbesar lewat 
                                        beragam media iklan.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-2">
                                    <br>
                                    <img alt="lokasi-demografi" src="{% static 'image/illustration/mobile-ads/advantages/lokasi-demografi.png' %}" style="margin-top: 30px; width: 57px;" class="responsive-img">
                                </div>
                                <div class="col-lg-10">
                                    <div class="caption">
                                        <br>
                                        Location & Demograph
                                    </div>
                                    <div class="caption-desc">
                                        Pastikan pesan Anda diterima target pengguna 
                                        spesifik berdasarkan lokasi dan demografi.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>

{% endblock %}