{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="mobile-payment">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                mobile payment
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                <br><br><br>
                                Layanan transaksi dua arah dari ponsel anda didukung 
                                infrastruktur terbaik dan dengan mengedepankan kemudahan di 
                                sisi pengguna.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                why sprint mobile payment?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Sprint Mobile Payment menghadirkan solusi layanan finansial terbaik yang dikemas secara 
                                mobile dengan dukungan infrastruktur teknologi terkini dan team yang terpercaya. 
                                Bekerjasama dengan bank - bank besar untuk terus menemukan terobosan baru yang 
                                memanjakan pengguna.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="caption">
                                advantages
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                <p>• Mudah dan Interaktif •</p>
                                <p style="margin-top: -20px;">• Solusi lengkap dan tim ahli yang siap membantu bisnis Anda •</p>
                                <p style="margin-top: -20px;">• Dapat diandalkan, dengan dukungan infrastruktur yang terpercaya •</p>
                                <p style="margin-top: -20px;">• Real time online •</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="platforms">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                sprint mobile payment platforms
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:600px; height:6px; margin-bottom: 80px;">
                        </div>
                    </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="sms" src="{% static 'image/illustration/mobile-payment/sms.png' %}" style="margin-top: 100px; width: 242px;" class="responsive-img">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    SMS Interactive
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    Metode transaksi melalui SMS dan perintah yang mudah 
                                    digunakan. Menawarkan tingkat keandalan tinggi, bahkan bagi 
                                    pengguna yang tidak memiliki akses ke layanan data/internet.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="items">
                                    <p>• Mudah dan Interaktif</p>
                                    <p style="margin-top: -20px;">• Solusi lengkap dan tim ahli yang siap membantu bisnis Anda</p>
                                    <p style="margin-top: -20px;">• Dapat diandalkan, dengan dukungan infrastruktur yang terpercaya</p>
                                    <p style="margin-top: -20px;">• Real time online</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="ussd" src="{% static 'image/illustration/mobile-payment/ussd.png' %}" style="margin-top: 100px; width: 258px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        USSD
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="items">
                                        Menu interaktif yang menggabungkan kode singkat dan pilihan 
                                        transaksi yang beragam dengan kemudahan dan reliabilitas. 
                                        Terintegrasi langsung dengan ponsel pengguna, sehingga mudah 
                                        untuk diakses kapan saja.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="items">
                                        <p>• Dapat diakses melalui dial code (i.e. *141#) •</p>
                                        <p style="margin-top: -20px;">• Menu interaktif yang mudah diikuti •</p>
                                        <p style="margin-top: -20px;">• Manajemen sesi pengguna yang efektif •</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <img alt="mobile" src="{% static 'image/illustration/mobile-payment/mobile.png' %}" style="margin-top: 60px; width: 242px;" class="responsive-img">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    Mobile Apps
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    Transaksi berbasis aplikasi mobile, cocok dengan pengguna 
                                    ponsel pintar. Didukung fitur keamanan yang tinggi, kemudahan 
                                    penggunaan, serta pengalaman bertransaksi yang lebih berkesan.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>• Aplikasi mobile untuk semua sistem operasi (iOs, Android & BB) •</p>
                                    <p style="margin-top: -20px;">• Fitur keamanan terupdate •</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>

{% endblock %}