{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="sandeza">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                sandeza
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-sandeza">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="text-center">
                            <div class="title">
                                about
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption">
                                    Just Send It
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="desc">
                                    <p>
                                        Sandeza menggabungkan beberapa channel komunikasi 
                                        digital di dalam satu platform terintegrasi yang 
                                        sangat mudah digunakan untuk menyampaikan setiap 
                                        informasi Anda ke dalam hati dan pikiran pelanggan Anda.
                                    </p>
                                    <p>
                                        Solusi paling efektif untuk menyampaikan informasi melalui 
                                        platform Omni channel messaging yang terintegrasi secara cerdas. 
                                        Fitur utama kami, Primary Back-up, akan membantu Anda untuk 
                                        memastikan informasi diterima oleh pelanggan Anda.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advantages">
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title">
                                <div class="text-center">
                                    advantages
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:199px; height:6px;" class="responsive-img">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="desc">
                                <div class="text-center">
                                    Menawarkan integrated channel yang skalabilitas, 
                                    hemat biaya dan mudah digunakan untuk meningkatkan bisnis 
                                    Anda dengan infrastruktur yang sangat aman.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    integrated channel
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    BayarInd adalah payment gateway dari Sprint 
                                    Asia yang menyuguhkan pengalaman pengguna terbaik, 
                                    jaringan pembayaran yang luas, serta fasilitas merchant 
                                    support terintegrasi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    <br>
                                    Primary Back-Up
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    Tidak perlu khawatir dengan menghabiskan 
                                    biaya besar untuk mendapatkan cinta dari 
                                    pelanggan. Fitur Primary Back-up kami akan 
                                    membantu Anda untuk memaksimalkan penyampaian 
                                    informasi dengan biaya yang lebih hemat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    Big Data
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    Kesulitan mengetahui karakteristik pelanggan Anda? 
                                    Big Data kami siap mengolah data karakterisitik pelanggan 
                                    dengan menjamin keamanan atas kebocoran data.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="caption">
                                    Customizable Report
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="text-center">
                                <div class="desc">
                                    <br>
                                    Anda dapat mengatur laporan yang dibutuhkan di 
                                    Sandeza semudah menjentikkan jari Anda.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="demo">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="title">
                                    Request a Demo
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img alt="black-square" src="{% static 'image/temp/black-square.png' %}" style="width:286px; height:6px;" class="responsive-img">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="desc">
                                    Sudahkah Anda siap untuk bertemu dengan aplikasi 
                                    yang akan memudahkan marketing bisnis Anda?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="button" class="btn btn-dark">Request a Demo</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </div>

{% endblock %}