{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="sprint-three-sixty">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                sprint360
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="what">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                Apa itu Digital Sprint 360 ?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="desc">
                                Sprint Digital 360 memadukan media komunikasi digital seperti SMS, MMS, VMS & IVR dengan pengalaman, 
                                keahlian, dan kreativitas orang-orang yang tepat untuk mendukung aktivitas komunikasi bisnis anda di media 
                                digital. Perpaduan inilah yang menjadi faktor penentu kesuksesan anda dalam mengembangkan brand 
                                awareness dan keunggulan kompetitif.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="messaging" src="{% static 'image/illustration/sprint360/messaging.png' %}" style="width: 200px; margin-top: 20px; margin-bottom: 20px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        Messaging
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="desc">
                                        Layanan SMS, MMS, VMS & IVR yang dapat 
                                        mengubah target audiens menjadi konsumen dalam 
                                        beberapa detik saja, dengan konten 160 karakter dan 
                                        fitur seperti Sender ID Masking dan optimalisasi 
                                        pesan untuk kebutuhan promosi dan komunikasi.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="messaging" src="{% static 'image/illustration/sprint360/ussd.png' %}" style="width: 200px; margin-top: 20px; margin-bottom: 20px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        USSD
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="desc">
                                        Notifikasi dalam bentuk pop-up untuk meraih 
                                        perhatian target audiens, baik kebutuhan untuk 
                                        promosi dan SMS OTP maupun untuk mengirimkan 
                                        informasi penting lainnya.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="messaging" src="{% static 'image/illustration/sprint360/social-messaging.png' %}" style="width: 250px; margin-top: 20px; margin-bottom: 20px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        Social Messaging
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="desc">
                                        Pencarian informasi berbasis chat social messaging 
                                        melalui aplikasi Telegram dan Facebook.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="messaging" src="{% static 'image/illustration/sprint360/email.png' %}" style="width: 200px; margin-top: 20px; margin-bottom: 20px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        Email Marketing
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="desc">
                                        Pengiriman pesan melalui email secara sederhana, 
                                        mudah dikelola, handal, dan fleksibel, email marketing 
                                        memungkinkan Anda mengirimkan pesan yang lebih 
                                        personal kepada target audiens, dengan visual yang 
                                        menarik perhatian
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="messaging" src="{% static 'image/illustration/sprint360/voucher.png' %}" style="width: 280px; margin-top: 50px; margin-bottom: 20px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        Electronic Voucher
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="desc">
                                        Voucher digital yang memberikan promosi khusus 
                                        dengan kode unik, voucher elektronik, dan kupon 
                                        digital Didukung dengan metode pengiriman melalui 
                                        SMS & Email serta integrasi mudah dengan POS dan 
                                        E-Commerce platform.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="text-center">
                                <img alt="messaging" src="{% static 'image/illustration/sprint360/mobile-digital.png' %}" style="width: 200px; margin-top: 20px; margin-bottom: 20px;" class="responsive-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="caption">
                                        Mobile Digital Ads
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="desc">
                                        Raih jutaan audiens baru dengan iklan dalam bentuk 
                                        multimedia seperti banner & video pada mobile 
                                        phone. Didukung oleh digital Ads Platform yang ahli 
                                        dan berpengalaman di bidang mobile digital ads 
                                        untuk efektivitas promosi yang tinggi dan Return on 
                                        Investment (ROI) terbaik.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}