{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="ussd-push">
        <div class="home-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                ussd push
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-desc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="text-center">
                            <div class="desc">
                                Layanan notifikasi dalam bentuk pop - up 
                                pada mobile phone, untuk meraih perhatian 
                                target audiens.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                why use ussd?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="items">
                                <p>• Instan dan real-time •</p>
                                <p style="margin-top: -20px;">• Efektif dalam mendapatkan atensi penerima •</p>
                                <p style="margin-top: -20px;">• Mudah dikelola dan diintegrasikan dengan sistem lain •</p>
                                <p style="margin-top: -20px;">• Keamanan informasi yang lebih terjamin •</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="types">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="title">
                                types of services
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        USSD Push Transaction
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        Nikmati mudahnya mengirimkan pesan dan 
                                        menerima respons langsung dari pengguna.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        USSD Push Single Flash Message
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        Sampaikan pesan penting dan informasi promosi 
                                        ataupun SMS OTP dengan lebih efektif lewat pesan 
                                        singkat yang langsung tampil pada 
                                        layar ponsel penerima.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="caption">
                                        USSD Push Interactive Menu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="desc">
                                        Pesan dengan menu interaktif yang dapat 
                                        dirancang untuk beragam kebutuhan bisnis Anda.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}