* {
    overflow-x: hidden !important;
}

.navbar a{
    font-family: Palanquin !important;
    color: white;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.navbar{
    background-color: #414448;
}

.footer-template {
    background-color: #414448;
}

.responsive-img {
    max-width: 100%;
    height: auto;
  }

.footer-template .first-content {
    color: white;
    font-family: Roboto !important;
    font-size: 24px;
    margin-top: 47px;
}

.footer-template .second-content {
    color: white;
    font-family: Roboto !important;
    font-size: 14px;
    margin-top: 118px;
    text-align: left;
}

.footer-template .third-content {
    color: white;
    font-family: Roboto !important;
    font-size: 14px;
    margin-top: 118px;
    text-align: right;
}

.footer-template .social-media {
    font-family: Palanquin !important;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

/* homepage */

/* title */
.homepage .title {
    font-family: Palanquin !important;
    color: white;
    font-weight: bolder;
    font-size: 96px;
}

.homepage .caption {
    font-family: 'Questrial', sans-serif !important;
    color: white;
    text-align: center;
    font-size: 36px;
}

/* products */
.homepage .products .title {
    font-family: Palanquin !important;
    color: black;
    font-size: 48px;
    margin-top: 35px;
    text-align: center;
    font-weight: bolder;
}

.homepage .products .item-caption {
    font-family: Palanquin !important;
    color: black;
    margin-top: 103px;
    text-align: left;
    font-weight: bolder;
    font-size: 36px;
}

.homepage .products .item-desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    text-align: left;
    font-size: 18px;
}

.homepage .products .more-items {
    font-family: Palanquin !important;
    color: black;
    font-weight: bolder;
    font-size: 24px;
}

/* merchants */
.homepage .merchants .title {
    font-family: Palanquin !important;
    color: black;
    font-size: 48px;
    margin-top: 43px;
    font-weight: bolder;
}

.homepage .merchants .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 18px;
    margin-top: 46px;
    margin-bottom: 51px;
}

/* sandeza */

/* title */
.sandeza .home-title {
    background: url('image/background/background2.png') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sandeza .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 72px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

.sandeza .about-sandeza .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 150px;
    font-size: 36px;
    font-weight: bolder;
}

.sandeza .about-sandeza .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 46px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.sandeza .about-sandeza .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 18px;
    margin-bottom: 46px;
}

/* advantages */
.sandeza .advantages .gray {
    background-color: #f3f3f3;
}

.sandeza .advantages .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 58px;
    font-size: 36px;
    font-weight: bolder;
}

.sandeza .advantages .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.sandeza .advantages .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 124px;
    margin-bottom: 124px;
    font-weight: bolder;
}

/* demo */
.sandeza .advantages .demo .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 63px;
    font-size: 36px;
    font-weight: bolder;
}

.sandeza .advantages .demo .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

/* messaging */

/* title */
.messaging .home-title {
    background: url('image/background/background5.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.messaging .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 72px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* description */
.messaging .description .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 40px;
}

.messaging .description .caption {
    font-family: Palanquin !important;
    color: black;
    margin-top: 70px;
    font-size: 36px;
    font-weight: bolder;
}

.messaging .description .feature-desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

.messaging .description .gray {
    background-color: #f3f3f3;
}

/* services */
.messaging .services .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 70px;
    font-size: 36px;
    font-weight: bolder;
}

.messaging .services .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bolder;
}

.messaging .services .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 90px;
}

/* social-messaging */

/* title */
.social-messaging .home-title {
    background: url('image/background/background6.jpeg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-messaging .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 72px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* why */
.social-messaging .why .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
}

.social-messaging .why .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 90px;
}

/* features */
.social-messaging .features .gray {
    background-color: #f3f3f3;
}

.social-messaging .features .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
}

.social-messaging .features .items {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

/* mobile-ads */

/* home-title */
.mobile-ads .home-title {
    background: url('image/background/background7.jpeg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-ads .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* title-desc */
.mobile-ads .title-desc .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 90px;
}

/* platform */
.mobile-ads .platform .gray {
    background-color: #f3f3f3;
}

.mobile-ads .platform .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bolder;
}

.mobile-ads .platform .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 46px;
}

.mobile-ads .platform .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: bolder;
}

/* advantages */
.mobile-ads .advantages .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
}

.mobile-ads .advantages .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 46px;
}

.mobile-ads .advantages .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.mobile-ads .advantages .caption-desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

/* ussd-push */

/* home-title */
.ussd-push .home-title {
    background: url('image/background/background8.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ussd-push .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* title-desc */
.ussd-push .title-desc .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 90px;
}

/* why */
.ussd-push .why .title {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.ussd-push .why .items {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

/* types */
.ussd-push .types .title {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 90px;
}

.ussd-push .types .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: bolder;
}

.ussd-push .types .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 18px;
    margin-bottom: 80px;
    margin-top: 10px;
}

/* email-marketing */

/* home-title */
.email-marketing .home-title {
    background: url('image/background/background9.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.email-marketing .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* title-desc */
.email-marketing .title-desc .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 10px;
}

/* campaign */
.email-marketing .campaign .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bolder;
}

.email-marketing .campaign .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bolder;
}

.email-marketing .campaign .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 50px;
}

/* features */
.email-marketing .features .title {
    font-family: Palanquin !important;
    color: black;
    font-size: 48px;
    margin-top: 35px;
    text-align: center;
    font-weight: bolder;
}

.email-marketing .features .item-caption {
    font-family: Palanquin !important;
    color: black;
    margin-top: 103px;
    text-align: left;
    font-weight: bolder;
    font-size: 24px;
}

.email-marketing .features .item-desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    text-align: left;
    font-size: 18px;
}

/* electronic-voucher */

/* home-title */
.electronic-voucher .home-title {
    background: url('image/background/background10.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.electronic-voucher .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* title-desc */
.electronic-voucher .title-desc .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 10px;
}

/* advantages */
.electronic-voucher .advantages .title {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 80px;
}

.electronic-voucher .advantages .items {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

/* usage */
.electronic-voucher .usage .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 103px;
    font-weight: bolder;
    font-size: 36px;
}

.electronic-voucher .usage .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.electronic-voucher .usage .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 18px;
    margin-bottom: 100px;
}

/* contact */

/* home-title */
.contact .home-title {
    background: url('image/background/background4.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* home-caption */
.contact .home-caption .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 65px;
    font-weight: bolder;
}

.contact .home-caption .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 65px;
    margin-top: 0px;
}

/* about */

/* home-title */
.about .home-title {
    background: url('image/background/background3.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .home-title .title {
    font-family: Palanquin !important;
    color: white;
    margin-top: 355px;
    margin-bottom: 415px;
    font-size: 72px;
    font-weight: bolder;
}

/* title-desc */
.about .title-desc .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 85px;
}

/* visi-misi */
.about .visi-misi .caption{
    font-family: Palanquin !important;
    color: black;
    margin-top: 48px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.about .visi-misi .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 114px;
    margin-top: 0px;
}

/* our-team */
.about .our-team .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 100px;
    font-size: 36px;
    font-weight: bolder;
}

.about .our-team .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.about .our-team .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 0px;
}

/* mobile-payment */

/* home-title */
.mobile-payment .home-title {
    background: url('image/background/background11.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-payment .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* description */
.mobile-payment .description .title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 40px;
    font-size: 36px;
    font-weight: bolder;
}

.mobile-payment .description .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.mobile-payment .description .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 0px;
}

/* platforms */
.mobile-payment .platforms .title {
    font-family: Palanquin !important;
    color: black;
    font-size: 48px;
    margin-top: 35px;
    text-align: center;
    font-weight: bolder;
}

.mobile-payment .platforms .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.mobile-payment .platforms .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.mobile-payment .platforms .items {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 0px;
}

/* sprint-three-sixty */

/* home-title */
.sprint-three-sixty .home-title {
    background: url('image/background/background3.jpg') fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sprint-three-sixty .home-title .title {
    font-family: Palanquin !important;
    color: white;
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 196px;
    font-weight: bolder;
}

/* what */
.sprint-three-sixty .what .title {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 50px;
}

.sprint-three-sixty .what .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 0px;
}

/* products */
.sprint-three-sixty .products .gray {
    background-color: #f3f3f3;
}

.sprint-three-sixty .products .caption {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 50px;
    font-weight: bolder;
}

.sprint-three-sixty .products .desc {
    font-family: 'Questrial', sans-serif !important;
    color: black;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 10px;
}

/* templates */

.title-word-template {
    background: url('image/background/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-word-template .title{
    font-family: Palanquin !important;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 96px;
    margin-top: 226px;
}

.title-word-template .caption {
    font-family: Roboto !important;
    color: white;
    text-align: center;
    font-size: 36px;
    margin-bottom: 228px;
}

.two-by-two-content-template .content-title {
    font-family: Palanquin !important;
    color: black;
    font-size: 48px;
    margin-top: 35px;
    text-align: center;
    font-weight: bolder;
}

.two-by-two-content-template .content-caption {
    font-family: Palanquin !important;
    color: black;
    margin-top: 78px;
    text-align: left;
    font-weight: bolder;
    font-size: 36px;
    margin-left: 10px;
}

.two-by-two-content-template .content-desc {
    font-family: Roboto !important; 
    color: black;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
}

.btn-dark{
    font-family: Palanquin !important;
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    font-weight: bolder;
}

.two-by-two-content-template .content-close {
    font-family: Palanquin !important;
    color: black;
    margin-top: 78px;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

.two-by-one-content-template .content-title {
    font-family: Palanquin !important;
    color: black;
    font-size: 48px;
    margin-top: 43px;
    font-weight: bolder;
}

.two-by-one-content-template .content-close {
    font-family: Roboto !important;
    color: black;
    font-size: 18px;
    margin-top: 46px;
    margin-bottom: 51px;
}

.one-by-two-content-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 147px;
    font-size: 38px;
    font-weight: bolder;
}

.one-by-two-content-template .content-caption {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-top: 46px;
    margin-bottom: 15px;
}

.one-by-two-content-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

.zebra-content-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 58px;
    font-size: 36px;
    font-weight: bolder;
}

.zebra-content-template .content-title-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 48px;
    margin-top: 36px;
}

.zebra-content-template .gray {
    background-color: #f3f3f3;
}

.zebra-content-template .content-caption {
    font-family: Palanquin !important;
    color: black;
    margin-top: 124px;
    font-size: 24px;
    margin-bottom: 124px;
    font-weight: bolder;
}

.zebra-content-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 48px;
    margin-top: 68px;
}

.request-demo-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 63px;
    font-size: 36px;
    font-weight: bolder;
}

.request-demo-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 19px;
    margin-top: 26px;
}

.two-by-one-word-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 91px;
    margin-bottom: 59px;
    font-size: 36px;
    font-weight: bolder;
}

.two-by-one-word-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 132px;
}

.two-by-two-image-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 91px;
    margin-bottom: 81px;
    font-size: 36px;
    font-weight: bolder;
}

.two-by-two-image-template .image-template {
    height: 213px;
    width: 213px;
    margin-left: 239px;
}

.two-by-two-image-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 148px;
}

.three-by-one-content-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 91px;
    margin-bottom: 81px;
    font-size: 36px;
    font-weight: bolder;
}

.three-by-one-content-template .image-template {
    height: 290px;
    width: 303px;
}

.three-by-one-content-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 98px;
    margin-top: 84px;
}

.two-by-two-content-image-template .content-title {
    font-family: Palanquin !important;
    color: black;
    margin-top: 91px;
    margin-bottom: 81px;
    font-size: 36px;
    font-weight: bolder;
}

.two-by-two-content-image-template .template-image {
    width: 256px;
    height: 252px;
    margin-top: 275px;
}

.two-by-two-content-image-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 122px;
    margin-top: 0px;
}

.card-content-template .gray-background-left {
    background-color: #f3f3f3;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 10px;
}

.card-content-template .gray-background-right {
    background-color: #f3f3f3;
    margin-right: 10px;
    margin-left: -10px;
    margin-top: 10px;
}

.card-content-template .content-caption {
    font-family: Palanquin !important;
    color: black;
    margin-top: 57px;
    margin-bottom: 35px;
    font-size: 64px;
    font-weight: bolder;
}

.card-content-template .white-square-template {
    width: 387px;
    height: 351px;
    margin-bottom: 37px;
}

.card-content-template .content-desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 0px;
}

.about .title-content-template {
    background: url('image/background/background3.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.about .title-content-template .content-title {
    font-family: Palanquin !important;
    color: white;
    margin-top: 355px;
    margin-bottom: 415px;
    font-size: 72px;
    font-weight: bolder;
}

.about .content-desc-template .content-caption {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 85px;
}

.about .content-one-by-two-template .caption{
    font-family: Palanquin !important;
    color: black;
    margin-top: 48px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.about .content-one-by-two-template .desc {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 114px;
    margin-top: 0px;
}

.about .picture {
    background: url("image/photo/balon.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .title-template {
    background: url("image/background/background4.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .title-template .title {
    font-family: Palanquin !important;
    color: white;
    margin-top: 195px;
    margin-bottom: 196px;
    font-size: 72px;
    font-weight: bolder;
}

.contact .title-caption .caption-title {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 65px;
    font-weight: bolder;
}

.contact .title-caption .caption-title-exp {
    font-family: Roboto !important;
    color: black;
    font-size: 24px;
    margin-bottom: 65px;
    margin-top: 0px;
}